extend layout
block content
  .full.conf-banner.blue-bg
    img.opacity(src="/images/backgrounds/conference.jpg", alt="banner")
    .wrapper.clearfix
      .conf-banner-containter.perfect
        .half
          h1 Conference
          h2.green-text September 19
            sup th
        .half
          button.overlay-toggle
            a order tickets
  .full.speakers
    .wrapper.top-bottom.clearfix
      h2.green-text Speakers
      each val, index in speakerObject
        .half.hover-row.clearfix.wow.fadeInUp
          .speaker-image
            img(src=val.image, alt=val.name, title=val.name)
          .speaker-content
            h3=val.name
            p=val.bio
            small
              each url, key in val.links
                a(href=url, target="_blank")
                  =key
                | &nbsp;
  //- .full.schedule.blue-bg
  //-   img.opacity(src="/images/backgrounds/schedule-bg.jpg", alt="Schedule Background")
  //-   .wrapper.clearfix
  //-     .perfect
  //-       h2.green-text Conference Schedule
  //-       .tabs
  //-         .tab-one.tab-active Developer Tracks
  //-         .tab-two Frontend Tracks
  //-       #tab-one.tab-container.active
  //-         .schedule-row.clearfix
  //-           .schedule-speaker Speaker Name
  //-           .schedule-topic Developing API
  //-           .schedule-start 09:00
  //-           .schedule-end 10:00
  //-       #tab-two.tab-container
  //-         .schedule-row.clearfix
  //-           .schedule-speaker Speaker Name
  //-           .schedule-topic Developing API
  //-           .schedule-start 09:00
  //-           .schedule-end 10:00