extend layout
block content
  .row.padding
    h1 #{title}
    p
      | Three days of talks and panels from the best in the world, with a full weekend hackathon to top it.
      | Aimed totally at bringing more technology to those that love developing with it, giving you more to hack with than before.
    .text-center
      br
      a.btn(href="/tickets" title="Tickets" alt="Tickets")
        i.fa.fa-lg.fa-ticket
        span &nbsp;Buy tickets
  .row.padding
    h2 Speakers
    p
      | Take a look at some of the fantastic people you will get to see and hear from.
      | We will list more as they become confirmed.
  .speakers.clearfix
    each val, index in speakerObject
      .quarter.text-center
        a(href=val.link alt=val.name title=val.name)
          img(src=val.image alt=val.name title=val.name)
        p
          a(href=val.link alt=val.name title=val.name)=val.name
      div(class=val.break)
  .row.padding
    h2 Dates
    p
      | The conference will be on 19th September 2014.
    p
      | The hackathon will be over the weekend of the 20th and 21st September 2014.
  .row.padding
    h2 Information
    p
      | For more information please check out the 
      a(href="/information", alt="Information", title="Information") information page
  .row.padding
    h2 Sponsors
    p Proudly supported by all following companies
  .row.padding
    //h3 Platinum
    .half.padding
      a(href="/sponsors#Platinum")
        img(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Platinum+Sponsor+%7D")
      p Why not be a 
        a(href="/sponsors#Platinum") platinum sponsor
    .half.padding
      a(href="/sponsors")
        img(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Platinum+Sponsor+%7D")
      p Why not be a 
        a(href="/sponsors#Platinum") platinum sponsor
  .row.padding
    //h3 Gold
    .half.padding
      a(href="/sponsors#Gold")
        img(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Gold+Sponsor+%7D")
    .half.padding
      a(href="/sponsors#Gold")
        img(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Gold+Sponsor+%7D")
  .row.padding
    //h3 Silver
    .third.padding
      a(href="/sponsors#Silver")
        img(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Silver+Sponsor+%7D")
    .third.padding
      a(href="/sponsors#Silver")
        img(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Silver+Sponsor+%7D")
    .third.padding
      a(href="/sponsors#Silver")
        img(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Silver+Sponsor+%7D")
  .row.padding
    //h3 Bronze
    .quarter.padding
      a(href="http://www.winningmoves.com", title="Winning Moves", alt="Winning Moves")
        img(src="/images/sponsors/winning-moves.jpg", title="Winning Moves", alt="Winning Moves")
    .quarter.padding
      a(href="/sponsors#Bronze")
        img(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Bronze+Sponsor+%7D")
    .quarter.padding
      a(href="/sponsors#Bronze")
        img(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Bronze+Sponsor+%7D")
    .quarter.padding
      a(href="/sponsors#Bronze")
        img(src="http://placehold.it/400x200/2f2f2f/ebebeb&text=%7B+Be+A+Bronze+Sponsor+%7D")