extend layout
block content
  .row.padding
    h1 #{title}
    p
      | Three days of talks and panels from the best in the world, with a full weekend hackathon to top it.
      | Aimed totally at bringing more technology to those that love developing with it, giving you more to hack with than before.
    .text-center
      br
      a.btn(href="/tickets" title="Tickets" alt="Tickets")
        i.fa.fa-lg.fa-ticket
        span &nbsp;Buy tickets
  .row.padding
    h2 Speakers
    p
      | Take a look at some of the fantastic people you will get to see and hear from.
      | We will list more as they become confirmed.
  .speakers.clearfix
    each val, index in speakerObject
      .quarter.text-center
        a(href=val.link alt=val.name title=val.name)
          img(src=val.image alt=val.name title=val.name)
        p
          a(href=val.link alt=val.name title=val.name)=val.name
      div(class=val.break)
  .row.paddingz
    h2 Dates
    p 
      | The conference will be on 19th September 2014.
    p 
      | The hackathon will be over the weekend of the 20th and 21st September 2014.
  .row.padding
    h2 Hack Weekend
    p 
      | After the conference, the free to attend hack will bring you even more awesome.
      | A big room full of developers building everything and anything for fun and for learning, all squeezed into less than 48 hours.
      | You'll have all the knowledge from the conference and fantastic 
      a(href="/hack#api", title="APIs and SDKs" alt="APIs and SDKs") APIs and SDKs
      |  from some of the best companies in tech.
    .text-center
      br
      a.btn(href="/tickets#hackathon" title="Hackathon" alt="Hackathons")
        i.fa.fa-lg.fa-ticket
        span &nbsp;Register
  .row.padding
    h2 Information
    p 
      | For more information please check out the 
      a(href="/information", alt="Information", title="Information") information page
  .row.padding
    h2 Sponsors
    p 
      | Proudly supported by all following companies
  include includes/sponsors