extend layout
block content
  .row.padding
    h1 #{page}
    p
      | During the conference two tracks will be running, with the best speakers and panelists talking on new and interesting subjects.
      | These speakers will be providing you with a breadth of knowledge not seen before in the city.
    .text-center
      br
      a.btn(href="/tickets" title="Tickets" alt="Tickets")
        i.fa.fa-lg.fa-ticket
        span &nbsp;Buy tickets
  .row.padding
    .speakers.clearfix
      each val, index in speakerObject
        .half.text-center
          a(name=val.id)
          .flip-container(ontouchstart="this.classList.toggle('hover');")
            .flipper
              .front
                a(href=val.link alt=val.name title=val.name)
                  img(src=val.image alt=val.name title=val.name)
                p
                  a(alt=val.name title=val.name)=val.name
              .back
                p
                  a(alt=val.name title=val.name)=val.name
                p.title
                  =val.title
                each url, image in val.links
                  a(href=url, target="_blank")
                    i.fa.fa-2x(class=image)
                p.bio
                  =val.bio
